{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="jumbotron mt-3">
    {% if app.user.photoSrc %}
        <img width="92px" height="92px" src="{{ asset('photos/' ~ app.user.photoSrc) }}" alt="{{ app.user.photoAlt }}" />
    {% else %}
        <img width="92px" height="92px" src="{{ asset('photos/0.png') }}" alt="{{ app.user.photoAlt }}" />
    {% endif %}
    {{ form(form) }}
    </div>
{% endblock %}