{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block body %}
    
    {# Check if the array 'users' is not empty #}
    {% if users %}
        {# Check if the user is connected and if he/she has defined his/her zip code #}
        {% if app.user and app.user.zipCode %}
            {% if app.user.genres %}
                {# Looping over the connected user's genres #}
                {% for genre in app.user.genres %}
                    <div class="card bg-light mt-3 mb-3" >
                        <div class="card-header">Derniers inscrits dans votre département ({{ app.user.departement.name }}) en {{ genre.name }}</div>
                        <div class="card-body">
                    {# For each user #}
                    {% set index = loop.index %}
                    {% for user in users[index] %}
                        {# Hiding the connected user #}
                        {% if app.user != user and user.isActive == 1 %}
                            {# Check if there is at least one user per genre #}
                            {% if users[index]|length > 0 %}
                                
                                        <a href="{{ path('member_profile', {"id":user.id}) }}">
                                        {% if user.photoSrc %}
                                            <img width="128px" height="128px" src="{{ asset('photos/' ~ user.photoSrc) }}" alt="{{ user.photoAlt }}" title="{{ user.username }}"  />
                                        {% else %}
                                            <img width="128px" height="128px" src="{{ asset('photos/0.png') }}" alt="{{ user.photoAlt }}" title="{{ user.username }}" />
                                        {% endif %} 
                                        </a>

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        {% else %}

        {% endif %}
        
    {% else %}
        Pas encore d'inscrits
    {% endif %}

{% endblock %}
